/*

!/.bash_profile
!/.bashrc
!/.claude
/.claude/settings.local.json
!/.config
!/.git-completion.bash
!/.git-prompt.sh
!/.gitconfig
!/.gitignore
!/.tmux.conf
!/.tool-versions
!/.wezterm.lua
!/.zlogout
!/.zsh.d/
!/.zshrc

!/_git
!/CLAUDE.md
!/README.md
!/dump.sh
!/etc
!/install.sh
!/scripts
