/*

!/.bash_profile
!/.bashrc
!/.config
!/.git-completion.bash
!/.vimrc
!/.gvimrc
!/.gitconfig
!/.zshrc
!/settings.json
!/keybindings.json
!/.zprofile
!/.zlogout
!/.git-prompt.sh
!/_git
!/.wezterm.lua

!/install.sh
!scripts/
!/etc

!/.gitignore
