[include]
	path = ~/.gitconfig.local
[push]
	default = current
[core]
	autocrlf = input
[pull]
  rebase = false
[alias]
  ai = add -i
  alias = !git config --get-regexp alias |  sed 's/^alias.//g' | sed 's/ / = /1'
  b = branch
  ba = branch -a -vv
  bd = branch -D
  bm = branch -m
  ca = commit --amend
  cl = clone
  co = checkout
  cob = checkout -b
  cm = commit -m
  cp = cherry-pick
  f = fetch
  pl = pull
  ps = push
  l = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
  rb = rebase
  rbi = rebase -i
  rbc = rebase --continue
  rba = rebase --abort
  rs = reset
  rss = reset --soft
  rsm = reset --mixed
  rsh = reset --hard
  sh = stash
  shls = stash list
  shps = stash push
  shpsm = stash push -m
  shpsu = stash push -u
  shpsum = stash push -u -m
  shpp = stash pop
  sha = stash apply
  shd = stash drop
  st = status
[credential "https://git-codecommit.ap-northeast-1.amazonaws.com"]
  provider = generic
